#menu_text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menu {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#menu ul {
    list-style: none;
    padding: 0;
}
#botao {
    width: 10vh;
    margin-top: 1vh;
    margin-left: 14vh;
}
#botao2 {
    width: 10vh;
    margin-top: 1vh;
}
#osvaldo {
    padding-bottom: 5vh;
}
.center h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80vh;
    height: 44vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.container2 {
    width: 80vh;
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: black;
}
.p_cadastro {
    color: green;
}
.position {
    padding-top: 4vh;
}
.position p{
    color: green;
    position: absolute;
    margin: 0;
}
.position input{
    margin-left: 10vh;
    width: 30vh;
}
.position select{
    margin-left: 10vh;
}
.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh;
    width: 150px;
    height: 150px;
}
#state_name{
    position: relative;
    text-align: center;
    color: green;
    margin-top: 4vh;
}